## Import pandas and numpy in case of any requirements for processing data!

In [2]:
import pandas as pd
import numpy as np

## Use pandas and open the .csv file cities_weather_data_cleaned.csv. Check dataframe.

In [3]:
cities_data = pd.read_csv("cities_weather_data_cleaned.csv")

In [4]:
cities_data.head()

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,mar del plata,0.0,AR,1.573487e+09,45.0,-46.43,-67.52,18.06,2.71
1,tiksi,100.0,RU,1.573487e+09,91.0,71.64,128.87,-18.45,2.49
2,hermanus,100.0,ZA,1.573487e+09,81.0,-34.42,19.24,21.11,2.68
3,qaanaaq,0.0,GL,1.573487e+09,52.0,77.48,-69.36,-15.00,2.25
4,bredasdorp,79.0,ZA,1.573487e+09,77.0,-34.53,20.04,21.11,8.20

## Date is in scientific notation. This date stamp is necessary for defining actual date, so must have actual number. Tried rounding and other methods, but were not consistently working. Converted Date to integer list and appended to dataframe.

In [19]:
datestamp = []
for index, row in cities_data.iterrows():
    datestamp.append(int(row[3]))

cities_data['DateStamp'] = datestamp

In [20]:
cities_data.head()

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,DateStamp
0,mar del plata,0.0,AR,1.573487e+09,45.0,-46.43,-67.52,18.06,2.71,1573486765
1,tiksi,100.0,RU,1.573487e+09,91.0,71.64,128.87,-18.45,2.49,1573486766
2,hermanus,100.0,ZA,1.573487e+09,81.0,-34.42,19.24,21.11,2.68,1573486766
3,qaanaaq,0.0,GL,1.573487e+09,52.0,77.48,-69.36,-15.00,2.25,1573486766
4,bredasdorp,79.0,ZA,1.573487e+09,77.0,-34.53,20.04,21.11,8.20,1573486766

## Remove Date, then convert dataframe into html format for visualization in webpages.

In [21]:
cities_cleaned = cities_data[['City', 'Cloudiness', 'Country', 'Humidity', 'Lat', 'Lng', 'Max Temp', 'Wind Speed', 'DateStamp']]

In [22]:
cities_cleaned.to_html("cities_cleaned.html")